@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't show url on print */
@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-item-custom {
  box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.084);
}

.custom-smooth-shadow {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02);
}

.brigth-shadow-red {
  box-shadow: 0 0.7px 2.2px rgba(246, 23, 53, 0.322);
}

.brigth-shadow-indigo {
  box-shadow: 0 0.7px 2.2px rgba(127, 23, 246, 0.322);
}

.brigth-shadow-green {
  box-shadow: 0 0.7px 2.2px rgba(23, 246, 172, 0.322);
}
